.text-card-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.text-card-profile img {
    width: 200px;
    border-radius: 100%;
}

.text-card-profile h1 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 30px;
}

.carrossel-card-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    height: 35vh;
}


.dataNetwork {
    position: absolute;
    background: #440377;
    width: 100px;
    left: 100px;
    top: 0;
    z-index: 3;
    color: #FFF;
    transition: .3;
}

.square-network {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    // background: linear-gradient(0deg, rgba(193, 180, 204, 0.2), rgba(193, 180, 204, 0.2)), linear-gradient(157.45deg, #7743CD 41.34%, #440377 97.25%) !important;
    color: #FFF;
    width: 90%;
    height: 150px;
    border-radius: 26px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    cursor: pointer;
    text-align: center;
}

.carrossel-card-profile .square-network {
    font-size: 25px;
    font-weight: 600;
}

.square-network h2 {
    font-size: 25px;
    color: #440377;
}


.account-card-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    color: #00000099;
}

.account-card-profile p span {
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}

#btnNavegation {
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background: linear-gradient(0deg, rgba(193, 180, 204, 0.2), rgba(193, 180, 204, 0.2)), linear-gradient(157.45deg, #7743CD 41.34%, #440377 97.25%) !important;
    color: #FFF;
    width: 250px; //370px
    height: 90px;
    border-radius: 26px;
    margin: 0px 67px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    cursor: pointer;
    transition: .3s;
    z-index: 2;
}

.react-horizontal-scrolling-menu--item {
    height: 150px;
}

#btnNavegation:hover {
    // margin-bottom: 100px;
    // height: 110px;
    background: #FFF;
    // color: linear-gradient(0deg, rgba(193, 180, 204, 0.2), rgba(193, 180, 204, 0.2)), linear-gradient(157.45deg, #7743CD 41.34%, #440377 97.25%) !important;
}

#btnNavegation img {
    height: 50px;
}

// #btnNavegation button {
//     padding: 10px 35px;
//     margin: 0px 20px 0 20px;
//     border: 2px solid #3747A6;
//     background-color: #435AD9;
//     color: #FFF;
//     text-transform: uppercase;
//     font-family: 'LemonMilkMedium';
//     z-index: 999;
//     cursor: pointer;
//     width: 230px;
//     border-radius: 12px;
// }