.navegation {
  width: 70%;
  height: 20vh;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

a {
  text-decoration: none;
  color: #FFF;
}